.cards {
  width: 90vw;
  margin: 10px auto;
  .cards__container {
    display: flex;
    flex-wrap: wrap;
  }
  .cards__inner {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
  }
  .cards__box {
    background-image: linear-gradient(
      336deg,
      rgb(62 146 170 / 87%) 0%,
      rgba(147, 251, 157, 0.0862745098) 100%
    );
    box-shadow: rgb(51 55 59 / 23%) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    height: 80%;
    color: black;
  }
  .cards__calories-img {
    width: 25px;
    height: 25px;
  }
  .cards__time-img {
    width: 18px;
    height: 25px;
  }
  .cards__box-time-calories {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
  }
  .cards__box-time,
  .cards__box-calories {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-around;
  }
  .cards__url {
    text-decoration: none;
    color: $bgcolor;
    cursor: pointer;
  }
  .cards__title {
    text-align: center;
    font-weight: 800;
  }
  // .cards__slider {
  //   max-width: 20%;
  // }

  #loader {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    display: none;
    margin-bottom: 20%;
    margin-left: 10%;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @media screen and (min-width: 3000px) {
  }
  @media screen and (max-width: 2500px) {
  }
  @media screen and (max-width: 1280px) {
  }
  @media screen and (max-width: 992px) {
  }
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 600px) {
  }
}
