.cards {
  font-family: $second-font;
  padding-top: 30px;
  width: 95vw;
  margin: 10px auto;
  display: none;

  .cards__container {
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    width: max-content;
  }
  .cards__container::-webkit-scrollbar {
    width: 0;
  }

  .cards__inner {
    max-width: max-content;
    max-height: 350px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    position: relative;
  }

  .cards__box {
    background-image: linear-gradient(
      141deg,
      rgb(140 224 254 / 64%) 0%,
      rgb(44 129 151 / 93%) 60%
    );
    box-shadow: rgb(51 55 59 / 23%) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    height: 75%;
    color: black;
    width: 150px;
  }

  .cards__calories-img {
    width: 25px;
    height: 25px;
  }

  .cards__time-img {
    width: 18px;
    height: 25px;
  }

  .cards__box-time-calories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .cards__box-time,
  .cards__box-calories {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-around;
  }

  .cards__url {
    text-decoration: none;
    color: $color-basic;
    cursor: pointer;
  }
  p,
  a {
    text-align: center;
  }
  p {
    margin-bottom: 2px;
  }
  .cards__title {
    text-align: center;
    font-weight: 800;
  }
  .cards__slider {
    display: flex;
    max-width: max-content;
    align-items: center;
  }
  .arrow-3-icon {
    transform: rotate(180deg);
  }

  .arrow-3-card,
  .arrow-4-card {
    color: #337ab7;
    cursor: pointer;
    text-decoration: none;
    font-size: 36px;
    height: 36px;
    line-height: 18px;
    display: inline-block;
  }
  .arrow-3-card .arrow-3-icon,
  .arrow-4 .arrow-4-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
  }
  .arrow-3-card .arrow-3-iconcircle,
  .arrow-4-card .arrow-4-iconcircle {
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
  }
  .arrow-3-card,
  .arrow-4-card {
    margin: 0 10px 0 10px;
  }
  .arrow-3-card:hover .arrow-3-icon,
  .arrow-4-card:hover .arrow-4-icon {
    transform: translate3d(5px, 0, 0);
  }
  .arrow-3-card:hover .arrow-3-iconcircle,
  .arrow-4-card:hover .arrow-4-iconcircle {
    stroke-dashoffset: 0;
  }

  @media screen and (max-width: 992px) {
    width: 98vw;
    .cards__inner {
      height: 200px;
      padding: 2px;
      margin: 2px;
    }
    .cards__box {
      margin: 10px;
      padding: 2px;
      border-radius: 15px;
      height: 90%;
      font-size: 11px;
    }
    .cards__box {
      width: 110px;
    }
  }
  @media screen and (max-width: 600px) {
    .cards__inner {
      height: 180px;
      padding: 2px;
      margin: 2px;
    }
    .cards__box {
      margin: 5px;
      padding: 2px;
      border-radius: 15px;
      height: 90%;
      font-size: 11px;
    }
    .cards__box {
      width: 90px;
    }
  }
}
