.cards {
  padding-top: 30px;
  width: 90vw;
  margin: 10px auto;
  .cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards__inner {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
  }
  .cards__box {
    background-image: linear-gradient(
      141deg,
      rgb(140 224 254 / 64%) 0%,
      rgb(44 129 151 / 93%) 60%
    );
    box-shadow: rgb(51 55 59 / 23%) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    height: 80%;
    color: black;
  }
  .cards__calories-img {
    width: 25px;
    height: 25px;
  }
  .cards__time-img {
    width: 18px;
    height: 25px;
  }
  .cards__box-time-calories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .cards__box-time,
  .cards__box-calories {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-around;
  }
  .cards__url {
    text-decoration: none;
    color: $color-basic;
    cursor: pointer;
  }
  p,
  a {
    text-align: center;
  }
  p {
    margin-bottom: 2px;
  }
  .cards__title {
    text-align: center;
    font-weight: 800;
  }

  @media screen and (max-width: 992px) {
    width: 98vw;
    .cards__inner {
      width: 150px;
      height: 200px;
      padding: 2px;
      margin: 2px;
    }
    .cards__box {
      margin: 10px;
      padding: 2px;
      border-radius: 15px;
      height: 90%;
      font-size: 11px;
    }
  }
  @media screen and (max-width: 600px) {
    .cards__inner {
      width: 120px;
      height: 180px;
      padding: 2px;
      margin: 2px;
    }
    .cards__box {
      margin: 5px;
      padding: 2px;
      border-radius: 15px;
      height: 90%;
      font-size: 11px;
    }
  }
}
