.header {
  .header__img-blok {
    background-image: url("../images/banner.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header__title{
    font-family: $main-font;
    color: $font-color;
    position: absolute;
	  top: 2%;
	  left: 55vw;
	  width: fit-content;
    font-weight: 500;
    font-size: 4vw;
  }
}

@media screen and (min-width: 960px) and (max-width: 2000px) {
  .header__img-blok {
    height: 250px;
  }
}
@media screen and (max-width: 960px) {
  .header__img-blok {
    height: 200px;
  }
  .header__title {
    position: absolute;
    top: 7%;
    font-weight: 300;
  }
}

@media screen and (max-width: 760px) {
  .header__img-blok {
    height: 150px;
  }
  .header__title {
    position: absolute;
    top: 5%;
    font-weight: 200;
  }
}

@media screen and (max-width: 600px) {
  .header__img-blok {
    height: 150px;
  }
  .header__title {
    position: absolute;
    top: 5%;
    font-weight: 200;
  }
}

@media screen and (max-width: 450px) {
  .header__img-blok {
    height: 80px;
  }
  .header__title {
    position: absolute;
    top: 2%;
  }
}
