.jokeandblock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
}

.joke {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    height: auto;
    padding: 1rem;
    cursor: pointer;
}

.joke:hover {
    transform: translate(0, 0.25rem);
}

.joke:active {
    transform: translate(0em, 0.75rem);
}

.joke-text {
    font-family: $second-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: absolute;
    font-weight: 800;
    font-size: 1.5rem;
    color: $color-neutral;

}

.block {
    @include block(column,50%,$color-basic);
}