.random__wrapper {
    font-family: $main-font;
    margin: 10px 5% 20px;

    .random__arrow-block-mob {
        display: none;
    }

    .random__card-wrapper {

        display: flex;
        flex-direction: row;
        align-items: center;

        .arrow-3-icon {
            @include arrow-transform;
        }

        .arrow-3,
        .arrow-4 {
            @include arrow(0);
        }

        .arrow-3 .arrow-3-icon,
        .arrow-4 .arrow-4-icon {
            @include arrow-icon;
        }

        .arrow-3 .arrow-3-iconcircle,
        .arrow-4 .arrow-4-iconcircle {
            @include arrow-iconcircle;
        }

        .arrow-3:hover .arrow-3-icon,
        .arrow-4:hover .arrow-4-icon {
            @include arrow-hover__arrow-icon;
        }

        .arrow-3:hover .arrow-3-iconcircle,
        .arrow-4:hover .arrow-4-iconcircle {
            @include arrow-hover__arrow-iconcircle;
        }

        .random__card-items {
            //overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow-y: hidden;
            display: flex;
            flex-direction: row;
            width: max-content;

            ::-webkit-scrollbar {
                display: none;
            }

            ::-webkit-scrollbar:hover {
                display: block;
            }

            .random__card-item {
                position: relative;
                display: flex;
                flex-direction: column;
                width: max-content;
                max-height: 300px;
                padding: 20px 30px;
                margin: 20px 30px 0;
                font-size: 17px;
                line-height: 28px;
                transform: rotate(-1deg);
                border: 2px solid transparent;
                background-image: linear-gradient(90deg, #5db3cb34 0%, #93fb9d16 100%);
                box-shadow: rgba(136, 165, 191, 0.231) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                transition: all 0.13s ease-in;


                border-top-left-radius: 37px 140px;
                border-top-right-radius: 23px 130px;
                border-bottom-left-radius: 110px 19px;
                border-bottom-right-radius: 120px 24px;

                #loader {
                    width: 40px;
                    height: 40px;
                    border: 4px solid #f3f3f3;
                    border-top: 4px solid #3498db;
                    border-radius: 50%;
                    animation: spin 2s linear infinite;
                    display: none;
                    margin-bottom: 20%;
                    margin-left: 10%;
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

                a {
                    margin: 10px auto;
                    text-decoration: none;
                    color: $font-color;
                }

                .random__image-block {
                    font-size: 12px;

                    .random__box-time-calories {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .random__box-calories {
                            display: flex;
                            flex-direction: row;

                            .random__calories-img {
                                height: 25px;
                                width: 25px;
                            }
                        }

                        .random__box-time {
                            display: flex;
                            flex-direction: row;

                            .random__time-img {
                                height: 20px;
                                width: 20px;
                            }

                            .random__time-text {
                                line-height: 22px;
                            }
                        }
                    }
                }

                h3 {
                    height: 50px;
                    margin: 5px 0;
                }

                .random__card-image {
                    width: 200px;
                    height: 150px;
                }

                .random__card-body {
                    overflow: hidden;
                    width: 300px;
                }

                .random__card-title {
                    text-align: center;
                }

                .wrapper__card-item {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                }

                .border {
                    position: absolute;
                    transition: all 0.13s ease-in;
                }

                .tl {
                    position: absolute;
                    left: -50px;
                    top: -63px;
                    font-weight: 600;
                }

                .tr {
                    right: -50px;
                    top: -63px;
                    font-weight: 600;
                }

                .bl {
                    left: -50px;
                    bottom: -71px;
                    font-weight: 600;
                }

                .br {
                    right: -50px;
                    bottom: -63px;
                    font-weight: 600;
                }

                .random__card-ingridients {
                    overflow-y: auto;
                    max-height: 200px;
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    scrollbar-color: none;
                }

                ul {
                    margin-top: 0;
                }

                li {
                    list-style-type: none;
                }
            }

            .random__card-item:hover {
                transform: translateY(-10px) rotate(1deg);
                box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
            }

            .random__card-item:hover .border {
                transform: translateY(4px) rotate(-5deg);
            }
        }

        .random__card-items::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

// @media screen and (min-width: 992px) and (max-width: 1200px) {

// }
// @media screen and (min-width: 768px) and (max-width: 991px) {

// }

@media screen and (min-width: 320px) and (max-width: 767px) {

    .random__wrapper {
        margin: 10px 0;

        .random__arrow-block-mob {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 10px;

            .arrow-3-icon {
                @include arrow-transform;
            }

            .arrow-3-mob,
            .arrow-4-mob {
                @include arrow(3px 40px);
            }

            .arrow-3-mob .arrow-3-icon,
            .arrow-4-mob .arrow-4-icon {
                @include arrow-icon
            }

            .arrow-3-mob .arrow-3-iconcircle,
            .arrow-4-mob .arrow-4-iconcircle {
                @include arrow-iconcircle;
            }

            .arrow-3-mob:hover .arrow-3-icon,
            .arrow-4-mob:hover .arrow-4-icon {
                @include arrow-hover__arrow-icon;
            }

            .arrow-3-mob:hover .arrow-3-iconcircle,
            .arrow-4-mob:hover .arrow-4-iconcircle {
                @include arrow-hover__arrow-iconcircle
            }
        }

        .random__card-wrapper {

            .arrow-3,
            .arrow-4 {
                display: none;
            }

            .random__card-items {

                .random__card-item {
                    flex-direction: column;
                    justify-content: center;
                    width: max-content;
                    max-height: 480px;
                    padding: 10px 10px;
                    margin: 10px 15px 0;
                    font-size: 14px;
                    line-height: 28px;

                    a {
                        margin: 6px auto;
                    }

                    .random__image-block {
                        height: 195px;
                        font-size: 12px;

                        .random__box-time-calories {
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }

                    h3 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-height: 55px;
                        font-size: 15px;
                    }

                    .random__card-image {
                        max-width: 110%;
                        max-height: 70%;
                    }

                    .random__card-body {
                        overflow: hidden;
                        width: 300px;
                        height: 170px;
                    }

                    .wrapper__card-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .random__card-ingridients {
                        max-height: 175px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}