
@media screen and (max-width: 2000px){
  .search-form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 0% 28% 0% 28%;
  }
  
  .search-form__wrapper {
    display: block;
    padding: 1%;
  }
  
  .search-form__wrapper-area {
    background-color:  #bbc6d696;
    width: 75%;
    border-color:  #bbc6d696;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #bcc6d696;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .search-form__wrapper-button {
    background-color:  #5682C3;
    color: white;
    margin: auto;
    width: 20%;
    font-size: 100%;
    border-radius: 5px;  
    box-shadow: 0px 0px 1px 1px #5682C3;
    border-color:  #5682C3;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .search-form__title {

    text-align: center;
    font-size: 100%;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
  }   
  
  .search-form__input {
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    padding: 1% 10% 1% 10%;
    margin-top: 1%;
  }
  
  .search-form__input-elements{
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 768px){
  .search-form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
   margin: 0% 23% 0% 23%;
  }
  
  .search-form__wrapper {

    display: block;
    padding: 1%;
  }
  
  .search-form__wrapper-area {
    background-color:  #bbc6d696;
    width: 75%;
    border-color:  #bbc6d696;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #bcc6d696;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .search-form__wrapper-button {
    background-color:  #5682C3;
    color: white;
    margin: auto;
    width: 20%;
    font-size: 100%;
    border-radius: 5px;  
    box-shadow: 0px 0px 1px 1px #5682C3;
    border-color:  #5682C3;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .search-form__title {

    text-align: center;
    font-size: 100%;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
  }   
  
  .search-form__input {
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    padding: 1% 10% 1% 10%;
    margin-top: 1%;
  }
  
  .search-form__input-elements{
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 450px){
  .search-form {
      display: flex;
      flex-direction: column; 
      justify-content: center;
     margin: 0% 10% 0% 10%;
    }
    
    .search-form__wrapper {
      display: block;
      padding: 1%;
    }
    
    .search-form__wrapper-area {
      background-color:  #bbc6d696;
      border-color:  #bbc6d696;
      border-radius: 5px;
      box-shadow: 0px 0px 1px 1px #bcc6d696;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    
    .search-form__wrapper-button {
      background-color:  #5682C3;
      color: white;
      margin: auto;
      font-size: 100%;
      border-radius: 5px;  
      box-shadow: 0px 0px 1px 1px #5682C3;
      border-color:  #5682C3;
      margin-top: 2%;
      margin-bottom: 2%;
    }
    
    .search-form__title {
  
      text-align: center;
      font-size: 100%;
      font-weight: 600;
      margin-top: 2%;
      margin-bottom: 2%;
    }   
    
    .search-form__input {
      display: grid;
      grid-template-columns: 15% 85%;
      padding: 1%;
      margin-top: 3%;
    }
    
    .search-form__input-elements{
      margin-bottom: 7px;
    }
  }
