@media screen and (min-width: 769px) {
  .search-form {
    display: flex;
    margin: 0% 28% 0% 28%;
    flex-direction: column;
    justify-content: center;
  }

  .search-form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
  }

  .search-form__wrapper-area {
    width: 75%;
    background-color: #bbc6d696;
    border-color: #bbc6d696;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #bcc6d696;
  }

  .search-form__wrapper-button {
    font-family: $second-font;
    width: 20%;
    font-size: 1.25vw;
    padding-bottom: 1%;
    color: white;
    background-color: #5682c3;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #5682c3;
    border-color: #5682c3;
  }

  .search-form__title {
    font-family: $second-font;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
  }

  .search-form__input {
    font-family: $second-font;
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    padding: 1% 10% 1% 10%;
    margin-top: 1%;
  }

  .search-form__input-elements {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    display: flex;
    margin: 0% 23% 0% 23%;
    flex-direction: column;
    justify-content: center;
  }

  .search-form__wrapper {
    display: block;
    padding: 1%;
  }

  .search-form__wrapper-area {
    width: 75%;
    background-color: #bbc6d696;
    border-color: #bbc6d696;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #bcc6d696;
  }

  .search-form__wrapper-button {
    font-family: $second-font;
    width: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    padding-right: 2%;
    font-size: 1.5vw;
    color: white;
    background-color: #5682c3;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #5682c3;
    border-color: #5682c3;
  }

  .search-form__title {
    font-family: $second-font;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
  }

  .search-form__input {
    font-family: $second-font;
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    padding: 1% 10% 1% 10%;
    margin-top: 1%;
  }

  .search-form__input-elements {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 450px) {
  .search-form {
    display: flex;
    margin: 0% 10% 0% 10%;
    flex-direction: column;
    justify-content: center;
  }

  .search-form__wrapper {
    display: block;
    padding: 1%;
  }

  .search-form__wrapper-area {
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #bbc6d696;
    border-color: #bbc6d696;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #bcc6d696;
  }

  .search-form__wrapper-button {
    width: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1vw;
    color: white;
    background-color: #5682c3;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #5682c3;
    border-color: #5682c3;
  }

  .search-form__title {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
  }

  .search-form__input {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 1%;
    margin-top: 3%;
  }

  .search-form__input-elements {
    margin-bottom: 7px;
  }
}
