.inputs_form{
  display: grid;
  background-color: #5682c360;
  justify-content: center;
  font-style: italic;
  padding: 1%;
}

.search_area{
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 1%;
}

.search_input{
  background-color:  #bbc6d696;
  border-color:  #bbc6d696;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #bcc6d696;
}

.search_parameters{
  background-color:  #5682C3;
  color: white;
  font-size: 100%;
  border-radius: 5px;  
  box-shadow: 0px 0px 1px 1px #5682C3;
  border-color:  #5682C3;
}

.inputs__wrapper{
  font-size: 130%;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: 7% 43% 7% 43%;
  padding: 1%;
}

.inputs_form{
margin: 3% 40%;
}