@font-face {
    font-family: "Diphylleia";
    src: url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
    font-style: normal;
    }
@font-face {
    font-family: "Dancing Script";
    src:url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
    font-style: normal;
    }