//colors
$bgcolor: #efeaea;
$font-color: #20334F;
$search-btn-color: #5682C3;
$search-btn-font: #FFFFFF;
$cards-bg-color: #D9D9D9;
$second-font: 'Diphylleia', serif;
$main-font: 'Dancing Script', serif;
$color-neutral: rgb(255, 255, 255);         // текст белый
$color-basic: rgb(215, 215, 215);
$color-basic-light: rgb(222, 222, 222);     // фон 1
$color-basic-dark: rgb(140, 140, 140);      // тень
$color-primary: rgb(60, 100, 200);          // кнопка
$color-primary-light: rgb(170, 200, 240);   // карточки
$color-primary-dark: rgb(0, 22, 63);        // текст темный
$color-secondary: rgb(253, 209, 168);       // блок акцентный в центре страницы
$color-secondary-light: rgb(230, 220, 215); // фон 2