//colors
$bgcolor: #EAECEF;
$font-color: #20334F;
$search-btn-color: #5682C3;
$search-btn-font: #FFFFFF;
$cards-bg-color: #D9D9D9;
//fonts
$main-font: 'Diphylleia', serif;
$title-font: 'Dancing Script', cursive;